<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxOperationCount</key>
	<integer>6</integer>
	<key>timeoutInterval</key>
	<integer>15</integer>
	<key>networkConfig</key>
	<dict>
		<key>baseURL</key>
		<string>http://120.77.214.196</string>
		<key>path</key>
		<dict>
			<key>curprofitUrl</key>
			<string>api/rest/share/cur_profit</string>
			<key>getRechargeOrderListUrl</key>
			<string>api/rest/wallet/get_recharge_order_list</string>
			<key>createRechargeOrderUrl</key>
			<string>api/rest/wallet/create_recharge_order</string>
			<key>createDepositOrderUrl</key>
			<string>api/rest/wallet/create_deposit_order</string>
			<key>applyDrawbackUrl</key>
			<string>api/rest/wallet/apply_drawback</string>
			<key>withdrawUrl</key>
			<string>api/rest/share/withdraw</string>
			<key>profitUrl</key>
			<string>api/rest/share/profit</string>
			<key>setLockUrl</key>
			<string>api/rest/share/set_lock</string>
			<key>lockBusinessUrl</key>
			<string>api/rest/share/lock_business</string>
			<key>applyLockUrl</key>
			<string>api/rest/share/apply_lock</string>
			<key>viewShareUrl</key>
			<string>api/rest/share/view_share</string>
			<key>rentHistoryUrl</key>
			<string>api/rest/order/rent_history</string>
			<key>stopRentUrl</key>
			<string>api/rest/order/stop_rent</string>
			<key>reportOpenRetUrl</key>
			<string>api/rest/order/report_open_ret</string>
			<key>unifiedOrderUrl</key>
			<string>api/rest/order/unified_order</string>
			<key>queryRentingUrl</key>
			<string>api/rest/order/query_renting</string>
			<key>getCouponUrl</key>
			<string>api/rest/coupon/get_coupon</string>
			<key>cancelBookUrl</key>
			<string>api/rest/order/cancel_book</string>
			<key>bookLockUrl</key>
			<string>api/rest/order/book_lock</string>
			<key>uploadUrl</key>
			<string>api/img</string>
			<key>setUserInfoUrl</key>
			<string>api/rest/usr/set</string>
			<key>getLocksUrl</key>
			<string>api/rest/park/get_locks</string>
			<key>loginOutUrl</key>
			<string>api/rest/usr/logout</string>
			<key>getBasicInfoUrl</key>
			<string>api/rest/usr/get_basic_info</string>
			<key>getAuthCodeUrl</key>
			<string>api/rest/usr/get_auth_code</string>
			<key>loginUrl</key>
			<string>api/rest/usr/login</string>
		</dict>
	</dict>
</dict>
</plist>
